.cards-main {
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* detta bestämmer hur många det ska vara i rad */
  grid-template-rows: repeat(
    3,
    1fr
  ); /* detta bestämmer hur det ska vara ovanför varandra - Ner med andra ord */
  grid-gap: 10px;
}

.cards-contain {
}

.img-card-1 {
  padding: 1rem;
  margin: 0;
  background-image: url(assets/img/1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img-cards-seed-svg {
}

.info-text-head {
  display: flex;
  justify-content: space-around;
  background-color: rebeccapurple;
}

.info-text-below {
  display: flex;
  justify-content: space-around;
  background-color: red;
}
