.cards-main {
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* detta bestämmer hur många det ska vara i rad */
  grid-template-rows: repeat(
    3,
    1fr
  ); /* detta bestämmer hur det ska vara ovanför varandra - Ner med andra ord */
  grid-gap: 1rem;
}

.cards-contain {
  border: 6px solid #ffffff;
  box-shadow: -1px 7px 8px -3px rgba(0, 0, 0, 0.25);
}

.img-card-1 {
  padding: 1rem;
  margin: 0;
  background-image: url(assets/img/1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info-text-head {
  font-family: var(--font-lato);
  font-size: 0.88rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.info-text-head-date {
  font-family: var(--font-global);
  font-size: 0.8rem;
  font-weight: 700;
}

.info-text-below {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-lato);
  font-weight: 300;
  font-size: 0.63rem;
  gap: 4.2rem;
  margin-bottom: 0.8rem;
}

.delete-icon {
  width: 0.82rem;
  height: 1rem;
  color: #b93857;
}

.visa-mer-button-main {
  display: flex;
  justify-content: center;
}

.visa-mera-button {
  font-size: 1rem;
  font-weight: large;
  border-style: none;
  box-shadow: -1px 7px 8px -3px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
  background-color: var(--color-global-green);
  font-family: var(--font-global);
  border-radius: 6px;
  border-style: none;
  width: 7rem;
  height: 2rem;
}
