.seedling-round {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-global-green);
  border-radius: 50%;
  width: 18.75rem;
  height: 18.75rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

.vara-tidigare-odlingar {
  text-align: center;
}

.planterade-button {
  font-size: 1rem;
  font-weight: large;
  border-style: none;
  box-shadow: -1px 7px 8px -3px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
  background-color: var(--color-global-green);
  font-family: var(--font-global);
  border-radius: 6px;
  border-style: none;
  width: 7rem;
  height: 2rem;
}
